{% block head %}
    <link rel="stylesheet" href="{{ asset('bundles/character/css/style.css') }}" />
{% endblock %}

{% block body -%}
    <div id="menu">
        {{ render(controller(
        'DashboardBundle:Menu:dashboardMenu',
        {}
        )) }}
    </div>

    <h1>Buy your attributes!</h1><br/>
    (for char {{ characterId }}, that is)

    <br/>

    REMAINING ATTRIBUTE POINTS: {{ character.rank.getAttributePoints }}<br/>

    <div class="attributes_content">
        {% for attribute in character.attributes %}
            <div class="attribute_row">
                {#{{ render(controller(#}
                {#'CharacterBundle:Attribute:dashboardMenu',#}
                {#{}#}
                {#)) }}#}

                {{ attribute.getType }} - {{ attribute.getStep }}<br/>
            </div>
        {% endfor %}
    </div>
    <br/>
    here some explanation about costs

{% endblock %}